<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.yinyan.tuila"
    versionCode = "10"
    version     = "1.0.0" >

  <name>yinyan</name>
  <description>
      yinyan
  </description>
  <author href="https://yinyantuila.com" email="yinyantuila@gmail.com">
      yinyan
  </author>

  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />

  <!-- iOS only -->
  <preference name="target-device" value="universal" />
  <preference name="prerendered-icon" value="true" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="deployment-target" value="7.0" />
<preference name="overrideUserAgent" value="Mozilla/5.0 (Linux; Android 7.1.1; Nexus 5X Build/NOF26W) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.92 Mobile Safari/537.36"/>
  <!-- Android only -->
  <preference name="android-build-tool" value="gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="25" />
  <preference name="android-targetSdkVersion" value="23" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-hardwareAccelerated" value="false" />
  <preference name="android-windowSoftInputMode" value="stateAlwaysHidden" />
</widget>